.movieCard{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;

    border-radius: 10px;
    margin: 2% auto;

    overflow: hidden;

    box-shadow: 5px 5px 10px #262424;
}
.movieCardImage{
    background-size: cover;
    flex:4;
}

.movieCardDetails{
    flex: 1;
    padding: 2%;
    background: rgb(219, 226, 233);

}

.movieCardTitle{
    font-size: 1.2rem;
    margin: 2%;
}

.movieCardYear{
    font-style: italic;
    margin: 2%;
}

.movieCardButton{
    padding:2%;
    margin: 2%;
}
